body{
  background-color: mediumseagreen;
  margin: 1%;
}

.line{
  border-top: 1px solid black;
}

.input-group{
  margin-top: 20px;
}

.progress{
  margin: 1% 10%;
}

.checkbox{
  display: inline-block;
}

label{
  padding-right: 10px;
}

